<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>:)</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href="{%static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{%static "css/ionicons.min.css" %}">
		<link rel="stylesheet" href="{%static "css/pace.css" %}">
	    <link rel="stylesheet" href="{%static "css/custom.css" %}">

	    <!-- js -->
	    <script src="{%static "js/jquery-2.1.3.min.js" %}"></script>
	    <script src="{%static "js/bootstrap.min.js" %}"></script>
	    <script src="{%static "js/pace.min.js" %}"></script>
	    <script src="{%static "js/modernizr.custom.js" %}"></script>
	</head>

	<body>
		<div class="container">
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="/">Blog by GYH</a></h1>
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="/index/" data-hover="Home">Home</a></li>
    								<li class="cl-effect-11"><a href="/fullwidth/" data-hover="Blog">Blog</a></li>
    								<li class="cl-effect-11"><a href="/about/" data-hover="About">About</a></li>
    								<li class="cl-effect-11"><a href="/contact/" data-hover="Contact">Contact</a></li>
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>
							</div>
						</div>
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>
		<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="#">post-1</a>
								</h1>
								<div class="entry-meta">
									<a class="post-date"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a>
								</div>
							</header>
							<div class="entry-content clearfix">
								<div class="read-more cl-effect-14">
									<a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>

						<article class="post post-2">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="single.html">post-2</a>
								</h1>
								<div class="entry-meta">
									<a class="post-date"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a>
								</div>
							</header>
							<div class="entry-content clearfix">
								<div class="read-more cl-effect-14">
									<a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>

						<article class="post post-3">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="single.html">post-3</a>
								</h1>
								<div class="entry-meta">
									<a class="post-date"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a>
								</div>
							</header>
							<div class="entry-content clearfix">
								<div class="read-more cl-effect-14">
									<a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>

						<article class="post post-4">
							<header class="entry-header">
								<h1 class="entry-title">
									<a href="single.html">post-4</a>
								</h1>
								<div class="entry-meta">
									<a class="post-date"><time class="entry-date" datetime="2012-11-09T23:15:57+00:00">February 2, 2013</time></a>
								</div>
							</header>
							<div class="entry-content clearfix">
								<div class="read-more cl-effect-14">
									<a href="#" class="more-link">Continue reading <span class="meta-nav">→</span></a>
								</div>
							</div>
						</article>
					</main>
					<aside class="col-md-4">
						<div class="widget widget-recent-posts">
							<h3 class="widget-title">Recent Posts</h3>
							<ul>
								<li>
									<a href="#">post-1</a>
								</li>
								<li>
									<a href="#">post-2</a>
								</li>
								<li>
									<a href="#">post-3</a>
								</li>
							</ul>
						</div>
						<div class="widget widget-archives">
							<h3 class="widget-title">Archives</h3>
							<ul>
								<li>
									<a href="#">November 2017</a>
								</li>
								<li>
									<a href="#">September 2017</a>
								</li>
								<li>
									<a href="#">January 2018</a>
								</li>
							</ul>
						</div>

						<div class="widget widget-category">
							<h3 class="widget-title">Category</h3>
							<ul>
								<li>
									<a href="https://github.com/gyhdtc" ><img src="{%static "images/github.png"%}"  width="50" height="50"/></a>
								</li>
								<li>
									<a href="http://cn.bing.com/?mkt=zh-CN"><img src="{%static "images/bing.png"%}"  width="50" height="50"/></a>
								</li>
								<li>
									<a><img src="{%static "images/head.png"%}"  width="50" height="50"/></a>
								</li>
							</ul>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2018 赣ICP备17017240号 --by 甘帅飞 </p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="/blog/">Home</a></li>
					<li><a href="/fullwidth/">Blog</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</nav>
		</div>

		<script src="{%static "js/script.js"%}"></script>

	</body>
</html>
