<!DOCTYPE html>
{% load static %}
    <html>
    <head><title> :) </title></head>
    <body>
    <h2 style="FONT-SIZE: 40pt" align="center">
        G Y H<br/>
        <img src="{%static "images/my.png"%}" width="180" height="180" align="center"/>
    </h2>
    <hr>
    <p style="FONT-SIZE: 30pt" align="center">
        ---Personal Information---
    <p/>
    <hr>
    <p style="FONT-SIZE: 30pt" align="center">
        Country : China <br/>
        <img src="{%static "images/china.png"%}"width="180" height="180" />
        <br/>
        University : NCU<br/>
        <img src="{%static "images/ncu.png"%}" width="180" height="180"/>
        <br/>
        Wechat : gyhdtc <br/>
        <img src="{%static "images/wechat.png"%}" width="180" height="180"/>
        <br/>
    </p>
    <hr>
    <p align="center">
    This website will be completed by Django + Nginx <br/>
    Copyright by YiHui Gan @ 2017-2018
    </p>
    </body>
    </html>