<!DOCTYPE html>
    <html>
    <head><title> :) </title></head>
    <body>
    <h2 style="FONT-SIZE: 20pt">G Y H<br/>
        {% load static %}
        <img src="{%static "images/my.png"%}" width="150" height="150"/></h2>
    <hr>
    <p style="FONT-SIZE: 15pt" color=#ffffff0>Personal information<p/>
    <hr>
    <p>
    Country&nbsp&nbsp&nbsp&nbsp:&nbspChina <br/>
        {% load static %}
        <img src="{%static "images/china.png"%}"width="180" height="120" ><br/><br/><br/>
    University&nbsp:&nbspNCU <br/>
        {% load static %}
        <img src="{%static "images/ncu.png"%}" /><br/><br/><br/>
    Wechat&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspgyhdtc<br/><br/><br/>
    </p>
    <p>
    This website will be completed by  &nbspDjango&nbsp&nbsp+&nbsp&nbspNginx&nbsp&nbsp+&nbsp&nbspUwsgi<br/>
    YiHui Gan @ 2017-2018
    </p>
    </body>
    </html>